{% extends 'base.html.twig' %}

{% block title %}Sondages des {{ building.name }}{% endblock %}

{% block body %}
    <div class="containerPage">
        <div class="imgPage">
            <img src="/images/SondageFont.webp" alt="Image d'accueil Sondage">
        </div>
        <div class="titlePage">
            <div class="titlePageContainer">
                <h2>{{ building.name }}</h2>
                <h1>Sondages</h1>
                <span>Retrouvez ici toutes les sondages en cours</span>
            </div>
        </div>
    </div>
    <div class="containerEventPage">
        <div class="surveyContainer">
            {% for survey in surveys %}
                <div id="sondage{{survey.id}}" class="sondageAncre"></div>
                <div class="sondageItem">
                    <div class="sondageContainer">
                        <h4>{{survey.question}}</h4>
                        <div class="imgSondage">
                            <img src="/uploads/pictures/{{survey.picture}}" alt="Image de {{survey.question}}">
                        </div>
                        <div class="descriptionSondage">
                            <p>{{survey.description}}</p>
                        </div>
                        <form method="post" action="{{ path('vote_submitpage', {'surveyId': survey.id}) }}">
                            {% set userVote = userVotes[survey.id] ?? null %}
                            <div class="choicesSondage">
                                <div class="choice">
                                    <input type="radio" name="answer" value="Pour" id="Pour_{{ survey.id }}" required {% if userVote == 'Pour' %}checked{% endif %}>
                                    <div class="radioTitle"><label for="Pour_{{ survey.id }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>  Pour</label></div>
                                </div>
                                <div class="choice">
                                    <input type="radio" name="answer" value="Contre" id="Contre_{{ survey.id }}" required {% if userVote == 'Contre' %}checked{% endif %}>
                                    <div class="radioTitle"><label for="Contre_{{ survey.id }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg> Contre</label></div>
                                </div>
                                <div class="choice">
                                    <input type="radio" name="answer" value="Abstention" id="Abstention_{{ survey.id }}" required {% if userVote == 'Abstention' %}checked{% endif %}>
                                    <div class="radioTitle"><label for="Abstention_{{ survey.id }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 48V464H48V48H464zM48 0H0V48 464v48H48 464h48V464 48 0H464 48z"/></svg> Abstention</label></div>
                                </div>
                            </div>
                            <div class="btnSubmitSondage">
                                <button type="submit">{{ userVote ? 'Modifier' : 'Envoyer' }}</button>
                            </div>
                            {% if userVote %}
                                <div class="messageVote">
                                    <span>Vous avez voté: {{ userVote }}</span>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="containerBackSurvey">
            <div class="backEvent">
                <a href="{{ path('building_index', {'slug': building.slug}) }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
