{% extends 'base.html.twig' %}

{% block title %}Evènements {{ building.name }}{% endblock %}

{% block body %}
    <div class="containerPage">
        <div class="imgPage">
            <img src="/images/EventFont.jpg" alt="Image d'accueil Evènement">
        </div>
        <div class="titlePage">
            <div class="titlePageContainer">
                <h2>{{ building.name }}</h2>
                <h1>Evènements</h1>
                <span>Retrouvez ici tous les évènements</span>
                <span>Cliquez sur un évènement pour en savoir plus.</span>
            </div>
        </div>
    </div>
    <div class="containerNewsPage">
        <div class="newsContainer">
            {% for event in events %}
                <div class="newItem">
                    <h3>{{event.title}}</h3>
                    <p>{{ event.description|length > 200 ? event.description|slice(0, 200) ~ '...' : event.description }}</p>
                    <div class="dateNews">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z"/></svg>
                        <span>{{ event.date|date('d/m/Y') }}</span>
                    </div>
                    <div class="dateNews">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
                        <span>{{event.duration}}</span>
                    </div>
                    <a href="{{ path('event_show', { 'building_slug': building.slug, 'event_id': event.id }) }}" class="linkNew"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
