{% extends 'superadmin/base.html.twig' %}

{% block title %}Appartement | SuperAdmin{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-2">Administration des appartements</h1>
        <a href="{{ path('superadmin_apartment_new') }}" class="btn btn-secondary my-1 mb-4">
            <i class="fa-solid fa-circle-plus"></i>
            <span class="ms-2">Ajouter un appartement</span>
        </a>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="get" action="{{ path('superadmin_apartment_search') }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="q" value="{{ app.request.query.get('q') }}" placeholder="Rechercher par référence" aria-label="Rechercher" aria-describedby="button-addon2">
                        <select name="building" class="form-control ms-2">
                            <option value="">Sélectionner un immeuble</option>
                            {% for building in buildings %}
                                <option value="{{ building.id }}" {% if building.id == selectedBuilding %}selected{% endif %}>{{ building.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary ms-2" type="submit" id="button-addon2">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Immeuble</th>
                    <th>Reference</th>
                    <th>Etage</th>
                    <th>Quota1</th>
                    <th>Quota2</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for apartment in pagination.data %}
                    <tr>
                        <td>{{ apartment.id }}</td>
                        <td>{{ apartment.building.name }}</td>
                        <td>{{ apartment.reference }}</td>
                        <td>{{ apartment.floor }}</td>
                        <td>{{ apartment.quota1 }}</td>
                        <td>{{ apartment.quota2 }}</td>
                        <td class="text-center">
                            <a href="{{ path('superadmin_apartment_edit', {'id': apartment.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('superadmin_apartment_delete', {'id': apartment.id}) }}" class="btn btn-danger delete-apartment"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Sélection des liens de suppression des appartements
            const deleteLinks = document.querySelectorAll('.delete-apartment');

            // Ajout d'un gestionnaire d'événement sur chaque lien
            deleteLinks.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    // Empêcher le comportement par défaut du lien (navigation)
                    event.preventDefault();

                    // Afficher une boîte de dialogue de confirmation
                    if (confirm('Êtes-vous sûr de vouloir supprimer cet appartement ?')) {
                        // Si l'utilisateur confirme, naviguer vers l'URL de suppression
                        window.location.href = link.href;
                    }
                });
            });
        });
    </script>
{% endblock %}
