{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminPersonController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-2">Administration des news</h1>
        <a href="{{ path('admin_news_new') }}" class="btn btn-secondary my-1 mb-4">
            <i class="fa-solid fa-circle-plus"></i>
            <span class="ms-2">Ajouter une nouvelle</span>
        </a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Picture</th>
                    <th>Date Création</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {# Afficher la liste normale des personnes ici #}
                {% for news in pagination.data %}
                    <tr>
                        <td>{{news.id}}</td>
                        <td>{{news.title}}</td>
                        <td>{{news.content|length > 50 ? news.content|slice(0, 50) ~ '...' : news.content}}</td>
                        <td>{{news.picture}}</td>
                        <td>{{news.date|date('d-m-Y')}}</td>
                        <td class="text-center">
                            <a href="{{path("admin_news_edit",{"id":news.id})}}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            <a href="{{path("admin_news_delete",{"id":news.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{pagination.display()}}
    </div>
{% endblock %}
