{% extends 'admin/base.html.twig' %}

{% block title %}Administration des propriétaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-2">Administration des propriétaires</h1>
        <a href="{{ path('admin_owner_new') }}" class="btn btn-secondary my-1 mb-4">
            <i class="fa-solid fa-circle-plus"></i>
            <span class="ms-2">Ajouter un bail</span>
        </a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ref. Appartement</th>
                    <th>Locataire</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for owner in pagination.data %}
                    <tr>
                        <td>{{ owner.id }}</td>
                        <td>{{ owner.apartment.reference }}</td>
                        <td>{{ owner.person.fullName }}</td>
                        <td>{{ owner.startDate|date('d-m-Y') }}</td>
                        <td>
                            {% if owner.endDate is not null %}
                                {{ owner.endDate|date('d-m-Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{path("admin_owner_edit",{"id":owner.id})}}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            <a href="{{path("admin_owner_delete",{"id":owner.id})}}" class="btn btn-danger delete-owner"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{pagination.display()}}
    </div>
    <script>
        // JavaScript pour la confirmation de suppression
        document.querySelectorAll('.delete-owner').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Empêche le lien de suivre immédiatement

                // Afficher une boîte de dialogue de confirmation
                if (confirm("Êtes-vous sûr de vouloir supprimer ce propriétaire ?")) {
                    // Si l'utilisateur confirme, suivre le lien de suppression
                    window.location.href = this.getAttribute('href');
                }
            });
        });
    </script>
{% endblock %}
