{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminOwnerController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-2">Administration des locataires</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ref. Appartement</th>
                    <th>Locataire</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for owner in pagination.data %}
                    <tr>
                        <td>{{ owner.id }}</td>
                        <td>{{ owner.apartment.reference }}</td>
                        <td>{{ owner.person.fullName }}</td>
                        <td>{{ owner.startDate|date('d-m-Y') }}</td>
                        <td>{{ owner.endDate|date('d-m-Y') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{pagination.display()}}
    </div>
{% endblock %}
