{% extends 'base.html.twig' %}

{% block title %}{{news.title}}{% endblock %}

{% block body %}
    <div class="containerPage">
        <div class="imgPage">
            <img src="/images/NewsFont.jpg" alt="Image d'accueil News">
        </div>
        <div class="titlePage">
            <div class="titlePageContainer">
                <h2>{{ building.name }}</h2>
                <h1>{{news.title}}</h1>
                <div class="dateNew">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z"/></svg>
                    <span>{{ news.date|date('d/m/Y') }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="containerNew">
        <div class="newContainer">
            <div class="textNew">
                <p>{{news.content}}</p>
            </div>
            <div class="backNew">
                <a href="{{ path('news_index', {'slug': building.slug}) }}">Actualités</a>
            </div>
        </div>
    </div>
{% endblock %}
