{% extends 'admin/base.html.twig' %}

{% block title %}Bienvenue Admin{% endblock %}

{% block body %}
<div class="container-fluid full">
    <div class="row">
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <div class="card-title">{{stats.personCount}} Personne(s)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <div class="card-title">{{stats.owner}} Propriétaire(s)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa-solid fa-square-poll-vertical fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <div class="card-title">{{stats.survey}} Sondage(s) en cours</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa-solid fa-newspaper fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <div class="card-title">{{stats.news}} Actualitée(s)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa-solid fa-calendar-day fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <div class="card-title">{{stats.event}} Evènement(s)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa-solid fa-envelope fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <div class="card-title">{{stats.contact}} Message(s)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa-solid fa-triangle-exclamation fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <div class="card-title">{{stats.issue}} Problème(s)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}