{% extends "admin/base.html.twig" %}

{% block title %}Modifier un sondage{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1 class="my-2">Modifier le sondage</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form_start(form) }}

            {# Champ question #}
            <div class="form-group">
                {{ form_label(form.question, 'Question', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.question, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.question) }}
            </div>

            {# Champ picture #}
            <div class="form-group">
                {{ form_label(form.picture, 'Image', {'label_attr': {'class': 'control-label'}}) }}
                {% if survey.picture %}
                    <div>
                        <img src="/uploads/pictures/{{ survey.picture }}" alt="Image de {{ survey.picture }}" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
                    </div>
                {% endif %}
                {{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.picture) }}
            </div>

            {# Champ description #}
            <div class="form-group">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>

            {# Bouton de soumission #}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
